@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Montserrat';
	src: url('/fonts/montserrat.ttf');
}

@font-face {
	font-family: 'Montserrat Italic';
	src: url('/fonts/montserrat-italic.ttf');
}

:root [data-theme='wintry'] {
	--theme-font-family-base: 'Montserrat', sans-serif;
	--theme-font-family-heading: 'Montserrat', sans-serif;
}

.gap {
	@apply gap-4 sm:gap-4 md:gap-4 lg:gap-8 xl:gap-8 2xl:gap-8;
}

.mar-y {
	@apply my-4 sm:my-8 md:my-8 lg:my-8 xl:my-12 2xl:my-16;
}

.pad-x {
	@apply px-4 sm:px-4 md:px-8 lg:px-8 xl:px-8 2xl:px-8;
}

header.page,
main.page,
footer.page {
	@apply mx-auto w-full max-w-screen-md lg:max-w-screen-2xl;
}
